main {
	margin: 0 auto;
	margin-top: -20px;
	margin-bottom: 300px;
	width: 80%;
	color: white;
	font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
	text-align: center;
	position: relative;
	font-weight: bold;
	background-color: #C4D4AF;
}

body {
	background-color: #F17D80;
}

h1 {
	padding-top: 75px;
	padding-bottom: 25px;
	background-color: #737495;
}
.boxes {
		top: 150px;
}

.box {
	height: 200px;
	width: 200px;
	border-radius: 5px;
	background-color: #6C8672;
	display: inline-block;
	margin: 20px;
	padding-top: 30px; 
	vertical-align: top;
	position: relative;
}

.box1 {
	transition-property: background;
	transition-duration: 2s;
	transition-timing-function: linear;
}

.box1:hover {
	background: #260126 ;
}

.box2 {
	transition-property: background, border-radius;
	transition-duration: 3s;
	transition-timing-function: ease-in-and-out;	
}

.box2:hover {
	background:  #F2EEB3;
	border-radius: 50%;
}

 #hidden {
 	visibility: hidden;
 	top: 100px;
 	position: relative;
 }

 .box3 {
	transition-property: visibility;
 }

 .box3:hover #hidden {
 		visibility: visible;
 }

 .box4 {
	transition-property: text-shadow;
	transition-duration: 1s;
	transition-timing-function: linear;
 }

 .box4:hover {
 	text-shadow: 2px 2px black;
 }

.box5 {
	transition-property: text-shadow, font-weight, font-size, letter-spacing;
	transition-duration: 2s;
	transition-timing-function: linear;
}

.box5:hover {
	text-shadow: 5px 5px red;
	font-weight: bolder;
	letter-spacing: 1em;
	font-size: 22px;
}

.box6 {
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: ease-in;
}

.box6:hover {
	opacity: .5;
}

.box7 {
	transition-property: box-shadow, transform;
	transition-duration: .1s;
	transition-timing-function: linear;
	cursor: pointer;
	box-shadow: 0 10px 0 gray;
	outline: 0;
	padding: 0px;
	border: 0;
}

.box7:active {
	box-shadow: 0 2px 0 gray;
	transform: translateY(7px);
}

.box8 {
	transition-property: width;
	transition-duration: .3s;
	transition-timing-function: linear;
}

.box8:hover {
	width: 250px;
}

.box9 {
	transition-property: right, top;
	transition-duration: 2s;
	transition-timing-function: linear;
	cursor: pointer;
}

.box9:active {
	position: relative;
	right: 20px;
	top: 20px;

}

.box10 {
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: linear;	
}

.box10:hover {
	transform: rotateY(180deg);
}


.boxes2:hover .box11 {
	animation-name: moveAround;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	opacity: .5;
}

.boxes2:hover .box13 {
	animation-name: moveAround;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	opacity: .5;
}

@keyframes moveAround {
	0% {
		left:0;
		top:0;
	}
	25% {
			left: 200px;
		top: 100px;
	}
	50% {
		left: 0;
		top: 300px;
	}
	75% {
		left: -200px;
		top: 100px;
	}
	100% {
		left:0;
		top:0;
	}
}

.boxes2:hover .box12 {

	animation: orbit 4s linear infinite;
	transform: rotate(45deg) translateX(250px) rotate(-45deg);
}

@keyframes orbit {
	from {
		transform: rotate(0deg) translateX(250px) rotate(0deg);}
		to   {  transform: rotate(360deg) translateX(250px) rotate(-360deg); }

}

.box11, .box12, .box13 {
	border-radius: 50%;
	background-color: black;
	z-index: 2;
}


nav {
  background-color: #6C8672;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
  width: 90%; 
}

  nav ul {
    margin: 0;
    padding: 0;
  }

    nav ul li {
      display: inline-block;
      list-style-type: none;
      transition: background-color .3s; 
    }
      


      nav > ul > li > a {
        color: #aaa;
        display: block;
        line-height: 56px;
        padding: 0 24px;
        text-decoration: none;
      }

        nav > ul > li:hover {
          background-color: black;
        }

        nav > ul > li:hover > a {
          color: gray;
        }
      
      nav > ul > li > .navSection {
        background-color: black;
        border-top: 0;
        display: none;
        margin: 0;
        opacity: 0;
        position: absolute;
        width: 165px;
	visibility: hidden;
	z-index: 100;

        -transition: opacity 0.2s;
      }

        nav > ul > li:hover > .navSection {
          display: block;
          opacity: 1;
          visibility: visible;
        }

          nav > ul > li > .navSection ul > li {
            display: block;
          }

            nav > ul > li > .navSection ul > li > a {
              color: gray;
              display: block;
              padding: 12px 24px;
              text-decoration: none;
            }

              nav > ul > li > .navSection ul > li:hover > a {
                background-color: silver;
              }
  

/*@media screen and (min-device-width: 1px) {
	body {
	margin: 0;
	font-family: Open Sans, sans-serif;
}

main {
	width: 95%;
	margin: 0 auto;
}

header {
	width: 100%;
	font-size: 3vw;
}

hr {
	border: none;
	height: .2vw;
	background-color: black;
	margin-bottom: 5vw;
}

section {
	float: none;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 6vw;

}

p {
	font-size: 12px;
}

#wholeGroup, #smallGroup {
	display: block;
	margin: 0 auto;
	width: 65vw;
	border: 1px solid blue;
	margin-bottom: 5vw;
}
}

@media screen and (min-device-width: 768px) {
	main {
		width: 90%;
	}

	p {
		font-size: 16px;
	}

		section {
		width: 100%;
		margin: 0;
	}

	#wholeGroup {
		margin-right: 10px;
		margin-bottom: 10px;
		border: 5px solid silver;
		width:  40%;
		float: left;
	}

	#smallGroup {
		display: none;
	}	

	.soccerStory {
		margin: 0 auto;
		width: 90%;
		position: relative;
	}

}

@media screen and (min-device-width: 1024px) {
	main {
		width: 85%;
	}

	hr {
		display: none;
	}
	p {
		font-size: 22px;
	}

	section {
		width: 100%;
		margin: 0;
	}



	#wholeGroup {
		margin: 0 1vw 1vw 0;
		border: 5px solid black;
		width:  50vw;
		float: left;
	}

	#smallGroup {
		display: none;
	}	

	.soccerStory {
		margin: 0 auto;
		width: 90%;
		position: relative;
	}

}