@media screen and (min-device-width: 1px) {
	body {
	margin: 0;
	font-family: Open Sans, sans-serif;
}

main {
	width: 95%;
	margin: 0 auto;
}

header {
	width: 100%;
	font-size: 3vw;
}

hr {
	border: none;
	height: .2vw;
	background-color: black;
	margin-bottom: 5vw;
}

section {
	float: none;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 6vw;

}

p {
	font-size: 12px;
}

#wholeGroup, #smallGroup {
	display: block;
	margin: 0 auto;
	width: 65vw;
	border: 1px solid blue;
	margin-bottom: 5vw;
}
}

@media screen and (min-device-width: 768px) {
	main {
		width: 90%;
	}

	p {
		font-size: 16px;
	}

		section {
		width: 100%;
		margin: 0;
	}

	#wholeGroup {
		margin: 0 1vw 1vw 0;
		border: 5px solid black;
		width:  50vw;
		float: left;
	}

	#smallGroup {
		display: none;
	}	

	.soccerStory {
		margin: 0 auto;
		width: 90%;
		position: relative;
	}

}

@media screen and (min-device-width: 1024px) {
	main {
		width: 85%;
	}

	hr {
		display: none;
	}
	p {
		font-size: 22px;
	}

	section {
		width: 100%;
		margin: 0;
	}

	

	#wholeGroup {
		margin: 0 1vw 1vw 0;
		border: 5px solid black;
		width:  50vw;
		float: left;
	}

	#smallGroup {
		display: none;
	}	

	.soccerStory {
		margin: 0 auto;
		width: 90%;
		position: relative;
	}

}