	body {
	margin: 0;
}

header {
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
}

nav {
	float: left;
	width: 30%;
}

ul {
	list-style-type: none;
	top: 0;
}

li {
	display: inline;
	line-height: 5vw;
	font-size: 12px;
}

#listHeight {
	margin-top: 0;
}

section {
	margin-top: 3vw;
	margin-left: -18vw;

}

div {
	margin-left: 30%;
	width: 70%;
	height: 5vw;
}

.color1 {
	background-color: red;
}

.color2 {
	background-color: blue;
}

.color3 {
	background-color: green;
}

.color4 {
	background-color: yellow;
}

.color5 {
	background-color: purple;
}

@media screen and (min-device-width: 1px) {
	main {
		margin: 0 auto;
	}

	
}

@media screen and (min-device-width: 768px) {
			li {
		display: block;
		font-size: 18px;

	}
.color1 {
	background-color: green;
}

.color2 {
	background-color: white;
}

.color3 {
	background-color: blue;
}

.color4 {
	background-color: white;
}

.color5 {
	background-color: green;
}

}

@media screen and (min-device-width: 1024px) {
		li {
		display: block;
		font-size: 22px;

	}
.color1 {
	background-color: blue;
}

.color2 {
	background-color: white;
}

.color3 {
	background-color: green;
}

.color4 {
	background-color: white;
}

.color5 {
	background-color: blue;
}

}