@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    margin: 0;
}

body h1 {
  font-size: 3vw;
    font-family: 'Alegreya Sans', sans-serif;
}

body  h2 {
  font-size: 2vw;
  font-family: 'Josefin Slab', serif;
}

header {
  width: 100%;
    height: 9vw;
    padding: 2%;
    box-sizing: border-box;
    background-color: #4B8BB8;
    background-size: 100%;
    position: relative;
    z-index: 0;
}

header h1 {
  /*font-family: 'Alegreya Sans', sans-serif;*/
  color: white;
  /*font-size: 3vw;*/
}

header img {
  height: 7vw;
  position: absolute;
  bottom: 0;
  right: 0;
}


.intro {
      width: 100%;
    height: 45vw;
    padding: 0;
    overflow: hidden;
    background-image: url("img/tunnel.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 0;
}

.intro h1 {
  color: white;
}

.intro h2 {
  color: white;
  
font-family: 'Josefin Slab', serif;

}

.info {
  position: relative;
  left: 5%;
  top: 5%;
}

#button {
    background-color: #4B8BB8;
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*border-radius:6px;*/
    color: white;
    font-family: 'Josefin Slab', serif;
    font-size: 1.6vw;
    padding: 0.7vw;
    text-decoration: none;
    cursor: pointer;
    border:none;
}



#button:hover {
    border: none;
    background: #3C7298;
    box-shadow: 0px 0px 1px #777;
}
/*.intro, .blog {
    width: 100%;
    height: 30vw;
    padding: 0;
    overflow: hidden;
    background-image: url("img/top.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 0;
}*/

/*header, .blog-content p {
    margin-left: 50px;
    margin-right: 50px;
}*/

/*.menu img {
    width: 20px;
    margin: 10px;
}
h1, p {
    text-align: center;
}*/

/*p, li {
    font-size: 2.5vw;
    text-align: center;
}*/

.card-space {
  width: 100%;
  margin: 0;
  position: relative;
  background-color: silver;
  height: 32vw;
  background-size: 100%;
}

.card {
  width: 33.3%;
  /*position: absolute;*/
  background-color: white;
  display: inline-block;
  float: left;
  height: 100%;
  margin: 0;
  text-align: center;
  padding: 5.5%;
  box-sizing: border-box;
}

#h2 {
  padding-top: 10%;
  padding-bottom: 18%;
}

footer {
  width: 100%;
    height: 6vw;
    padding: 2%;
    box-sizing: border-box;
    background-color: #4B8BB8;
    background-size: 100%;
    position: relative;
    z-index: 0;
    top: 7vw;
}



/*.menu {
    width: 100%;
    margin: 0 auto;
}


a {
    text-decoration: none;
    color: purple;
}

.menu li {
    display: inline;
    align-content: center;

}

.blog {
    background-image: url("img/middle.jpg");
}*/

@media only screen and (min-width: 414px) {
    p {
        font-size: 12px;
    }
}


/*.menu {
  width: 100%;
  text-align: right;
  font-size: 1.5vw;
  position: relative;
  top: -9vw;
}*/

/*.menu ul {
  height: auto;
}*/

/*.menu li {
  display: inline;
  margin-right: 5%;
}*/


/*
.menu a:hover {
  color: silver;
}

.menu hr {
    border: 1px solid black;
    width: 78vw;
    float: right;
    margin-right: 2%;
}
*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

