@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
	font-family: 'Source Sans Pro', sans-serif;
	background: black;
}

aside {
    -webkit-flex: 1 6 300px;
    flex: 1 6 300px;
    -webkit-order: 1;
    order: 1;
    position: relative;
    padding: 3%;
}

#featured-space {
	padding-left: 17%;
	padding-right: 17%;
	padding-bottom: 20%;
	margin-top: 10%;
}

#arcade-label,#web-label, #health-label, #neighborhood-label {
 	position: relative;
}

a:link, a:visited {
	text-decoration: none;
    color: white;
}

.featured {
 	width: 150px;
 	display: block;
 	border: 3px solid black;
 	margin-bottom: 15%;
}

#featured-text {
	position: absolute;
	bottom: 5px;
	color: white;
	left: 5px;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#udacity-logo {
   	width: 50px;
   	bottom: 0;
   	position: absolute;
   	margin: 4%;
   	left: 0;
}

main {
	min-height: 600px;
	margin: 0px;
	padding: 0px;
	display: -webkit-flex;
	display: flex;
}

article {
    -webkit-flex: 3 1 60%;
    flex: 3 1 60%;
    -webkit-order: 2;
    order: 2;
    position: relative;
}

article img {
    width: 100%;
   	position: absolute;
   	display: block;
   	z-index: -1;
   	min-width: 1024px;
}

.name-content {
	position: absolute;
   	right: 0;
   	top: 10%;
   	padding-right: 2%;
   	padding-left: 35%;
   	color: white;
   	background-color: black;
    opacity: .8;
}

footer {
    height: 75px;
    background: #3f51b5;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.contact-button {
	display: inline-block;
	margin-left: 50px;
	margin-top: 25px;
}