@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
	font-family: "Source Sans Pro", sans-serif;
	background: #000;
	max-width: 1035px;
}

/*Aside - Featured Projects*/
aside {
    -webkit-flex: 1 6 300px;
    flex: 1 6 300px;
    -webkit-order: 1;
    order: 1;
    position: relative;
    padding: 3%;
}

.featured-space {
	padding: 0 17% 20% 17%;
	top: 10%;
}

.arcade-label,
.web-label,
.health-label,
.neighbor-label {
 	position: relative;
}

a:link, a:visited {
	text-decoration: none;
    color: #fff;
}

.featured {
 	width: 150px;
 	display: block;
 	border: 3px solid #000;
 	margin-bottom: 15%;
}

.featured-text {
	position: absolute;
	left: 5px;
	bottom: 5px;
	color: white;
	font-weight: bold;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.udacity {
   	width: 50px;
   	position: absolute;
   	padding: 4%;
   	left: 0;
   	bottom: 0;
}

/*Main*/
main {
	min-height: 600px;
	display: -webkit-flex;
	display: flex;
}

article {
    -webkit-flex: 3 1 60%;
    flex: 3 1 60%;
    -webkit-order: 2;
    order: 2;
    position: relative;
}

.web-pic {
    width: 100%;
   	position: absolute;
   	display: block;
   	min-width: 1024px;
}

.name-content {
	position: absolute;
   	right: 0;
   	top: 10%;
   	padding: 0 2% 0 35%;
   	color: white;
   	background: #000;
    opacity: 0.8;
}

/*Footer - Contact Info*/
footer {
    height: 75px;
    background: #3f51b5;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.contact-button {
	display: inline-block;
	margin: 25px 0 0 50px;
}