@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Lora);

body {
	font-family: "Open Sans", sans-serif;
	min-width: 924px;
	max-width: 985px;
	margin: 0 auto;
	background-color: #85dbbb;}

	* {
		box-sizing: border-box;
	}

img {
	width: 70px;
}

.resources {
	width: 45px;
	float: right;
	margin-left: 10px;
}


.everything {
	position: relative;
	margin: 0 auto;
	width: 85%;
	min-width: 742px;
	max-width: 85%;
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	

}

h1 {
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 52px;
}

#fullPage {
	height: 200vw;
	width: 200vw;
	background-color: #37bf94;
	opacity: 0.9;
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;


}

#leaveMenu {
	border: 0;
	color: white;
	font-weight: bold;
	background-color: #37bf94;
	font-size: 28px;
	position: absolute;
	left: 35%;
	top: 7%;
	}
 
#navButton:hover, #leaveMenu:hover {
	cursor: pointer;
}

ul {
	list-style-type: none;
	display: block;
	position: absolute;
	left: 19.5%;
	font-size: 36px;
	color: white;
	line-height: 100px;
	top: 5%;
}

.impDates {
	margin-left: 0;

}

.highlight {
	margin-right: 0;
}

section	{
	/*background-color: #dba6bc;*/
	/*border-radius: 5px;*/
	display: inline-block;
	margin: 1%;
	height: 20%;
	width: 31.6%;
	padding: 15px;
	border: 3px dotted #dba6bc;
	box-sizing: border-box;
	vertical-align: top;
	height: 300px;
	margin-bottom: 50px;


}

h2 {
	font-weight: bold;
}

h3 {
	text-align: center;
	font-weight: bold;
}

#unitInfo {
	display: block;
	position: relative;
	left: 50px;
	bottom: 10px;
	top: 10px;
}

#secondLine {
	display: block;
	margin-top: 50px;
}

.bottomInfo {
	display: block;
	position: relative;
	top: 20px;
	bottom: 40px;
}

.quote {
	display: block;
	position: absolute;
	left: 64.5%;
	width: 200px;
	height: 155px;
	/*border: 3px solid silver;*/
	/*box-shadow: 5px 5px 5px 5px silver;*/
	padding: 20px;	
	top: -60px;
	/*top: 5%;*/
	/*margin-bottom: 50px;*/
	/*border-radius: 15px;*/
	font-size: 11px;
	background-color: #d2dbd8;
	background-size: 100%;
	margin: 0;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding-bottom: 10px;
	background-image: url("http://www.themeshack.net/pspframes/images/Silver-White/013-024/Silver-White024.png");
	font-family: 'Lora', serif;
	/*color: white;*/
	font-size: 12px;
}

a {
	text-decoration: none;
	color: white;
}