@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
	/*background-image: url('../img/back.jpg');*/
	margin: 0;
	/*max-height: 786px;*/
}

.everything {
	position: relative;
	width: 100%;
}

#background {
	display: block;
	position: absolute;
	top: 4.5vw;
	width: 102%;
	z-index: -5;
}

.resources {
	width: 3vw;
	float: right;Mathematics
	margin: 1vw;
}

.navBar {
	/*background-color: black;*/
	display: block;
	position: absolute;
	width: 103%;
	/*top: vw;*/
	/*border: 5px solid black;*/
	left: -2%;
}
main {
	display: block;
	position: absolute;
	top: 10vw;
	left: 10vw;
	background-color: white;
	opacity: 0.5;
	padding: 2vw;
}
h1 {
	font-family: "Libre Baskerville", serif;
	/*display: block;*/
	/*position: absolute;*/
	color: black;
	font-size: 6vw;
	z-index: 5;
	
}

/*ul {
	list-style-type: none;
}*/
p {
	color: black;
	font-size: 2vw;
	font-style: italic;
	text-align: center;
	/*display: block;*/
	/*left: 5vw;*/
	/*position: absolute;*/

}


.mathback {
	position: block;
	display: absolute;
	height: 100%;
	width: 6vw;
	background-color: white;
	z-index: 5;
}

#unitSpace, #unitSpace2, #unitSpace3 {
	position: absolute;
	display: block;
	height: 45vw;
	width: 50vw;
	margin: 0 auto;
	top: 7vw;
	left: 25vw;
	background-color: white;
	opacity: 0.8;
	padding: 2vw;
	box-sizing: border-box;
}

#unitSpace h1, #unitSpace2 h1, #unitSpace3 h1 {
	font-size: 4vw;

}

#thisUnit p, #imptDatesInfo p, #celeb p {
	text-align: left; 
	padding-left: 3vw;
	font-size: 2vw;
}

#exitMenu, #exitMenu2, #exitMenu3 {
	display: block;
	position: absolute;
	top: 5%;
	left: 88%;
	    background-color: transparent;
    color: black;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    /*font-family: cursive;*/
    font-size: 2vw;
}

#currentUnit, #importantDates, #celebrations {
    cursor: pointer;

}

.unitResources {
	position: absolute;
	display: block;
	top: 62vw;
	text-align: center;
	/*left: 39vw;*/
	background-color: gray;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 2vw;
}

