@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bangers);

body {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;

}

/*.everything {

	margin: 0 auto !important;
	max-width: 960px;
	display: block;
}*/


 .currentUnit {
 	display: block;
 	position: relative;
 	left: 12vw;
 	top: 8vw
 }

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

h1 {
	text-align: center;
	display: block;
	position: relative;
	font-family: "Bangers", cursive;
	top: 5vw;
	font-size: 66px;
}

.littleMenu img {
	position: absolute;
	top: .3em;
	left: .3em;
	height: 60px;
	width: 120px;
	cursor: pointer;
}

#fullMenu {
	display: block;
	position: absolute;
	top: -2%;
	height: 102%;
	width: 100%;
	background-color: #429C6F;
	opacity: 0.85;
}

#fullMenu .theList {
	list-style-type: none;
	height: 40vw;
	width: 40vw;
	/*background-color: silver;*/
	display: block;
	position: relative;
	margin: 0 auto;
	top: 20vw;
}
#fullMenu ul {
	list-style-type: none;
	line-height: 12vh;
	font-size: 7vh;
	font-family: "Open Sans", sans-serif;
	color: white;
}

#leaveMenu {
	/*visibility: hidden;*/
/*	left: 200px;*/
	display: block;
	position: relative;
	background-color: blue;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
    border:none;
   	display: block;
	position: absolute;
	top: 0vw;
	left: 45vw;
	position: absolute;
}

#leaveMenu:hover, #leaveMenu:active {
	border: none;
	opacity: 0.4;


}

button  {
	margin: .3em;
}